# Binários e Caminhos de Execução
YTDLP_BIN=yt-dlp
FFMPEG_BIN=ffmpeg
FFPROBE_BIN=ffprobe

# Armazenamento e Modelos
TEMP_STORAGE_DIR=./tmp
WHISPER_MODEL_SIZE=base
WHISPER_DEVICE=cuda
WHISPER_COMPUTE_TYPE=float16

# LLM Provider
GEMINI_API_KEY=
